<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1 class="card-title mb-0">Projects</h1>
    <%= link_to "New project", new_project_path, class: "btn btn-primary" %>
  </div>

  <div class="card-body">
    <div id="projects">
      <% @projects.each do |project| %>
        <%= render project %>
        <p>
          <%= link_to "Show this project", project %>
        </p>
      <% end %>
    </div>
  </div>
</div>








